<ons-page>
<div class="navigation-bar navigation-bar--transparent" style="position:relative;">
  <div class="navigation-bar__left">
    <span class="toolbar-button--quiet navigation-bar__line-height" ng-click="myMenu.open();">
      <i class="ion-navicon" style="font-size:32px;vertical-align:-6px;"></i>
    </span>
  </div>

  <div class="navigation-bar__center">
    <img class="small-logo_app" src="lib/onsen/images/new/logo-edits.png"/>
  </div>

  <div class="navigation-bar__right">

  </div>
</div> 

<div class="dining-title">DINING</div>

<div class="dining-subtitle"><b>DELICIOUS DINING FOR DISCERNING PALATES</b></div>
<span class="dinning-spacer"></span>

<img src="lib/onsen/images/new/res3.jpg" title="My Caption" class="dinning-image" />

<div class="dining-name"><b>KABIRA TERRACE</b>
		<ons-button class="dining-reserve-btn" modifier="dark" ng-click="myMenu.setMainPage('html/restaurant-reservations.html', {})">
		RESERVE		
		</ons-button>
</div>

        <div class="dining-form">
          <span style="font-size: 14px;">With our sophisticated, award-winning restaurant and takeaway options and an inviting bar, there are plenty of ways to enjoy eating and drinking at Kabira Country Club. Whether you fancy a snack or a full four-course meal, at Kabira Country Club we have created an experience where you can get anything you want in one location.</span>

        </div>

	 </ons-page>