<ons-page ng-controller="health">
<div class="navigation-bar navigation-bar--transparent" style="position:relative;">
  <div class="navigation-bar__left">
    <span class="toolbar-button--quiet navigation-bar__line-height" ng-click="myMenu.open();">
      <i class="ion-navicon" style="font-size:32px;vertical-align:-6px;"></i>
    </span>
  </div>

  <div class="navigation-bar__center">
    <img class="small-logo_app" src="lib/onsen/images/new/logo-edits.png"/>
  </div>

  <div class="navigation-bar__right">

  </div>
</div> 
<div class="spa-title">Kabira Country Club Hotel</div>
<ons-carousel style="height: 230px; width: 300; top: 27px;" swipeable auto-scroll var="healthslider"> 
<ons-carousel-item> 
  <img src="lib/onsen/images/new/spa3.jpg" title="My Caption" />
  </ons-carousel-item>
  <ons-carousel-item>
  <img src="lib/onsen/images/new/spa4.jpg" title="My Caption" />
  </ons-carousel-item>
<ons-carousel-item>
  <img src="lib/onsen/images/new/spa2.jpg" title="My Caption" />
  </ons-carousel-item> 
   
</ons-carousel>

<div class="spa-subtitle">Spa</div>

  <div class="health-form">
          <span style="font-size: 14px;">After a rigorous work out, why not turn up the heat in our steam and sauna rooms? With equipment imported from Switzerland, spas and saunas are available to help you relax and unwind. For your privacy we have separate male and female areas. Please ask at reception or at the spa to make an appointment.</span>

        </div>

          <div class="health-bonus"> 
          <ons-list-item class="mainList list-item-container">
          <span style="font-size: 14px; color: rgb(117, 117, 117);;"><b>Spa Hours of Operation</b></span>
          <div style="position: relative; top: -15px;"><span style="font-size: 14px; color: rgb(119, 113, 113);">The Spa is open from 06:00 – 22:00 hrs</span></div>

          <span style="position: relative; top: -15px; font-size: 14px; color: rgb(119, 113, 113);"><b>Making a reservation:</b></span><br>
          <span style="font-size: 14px; color: rgb(119, 113, 113); position: relative; top: -30px;">Please call +256 750 033 443 or email:</span><br>
          <span style="position: relative; top: -45px; font-size: 14px; color: rgb(119, 113, 113);">info@kabiracountryclub.com</span>
          <hr style="color: rgb(197, 197, 197); position: relative;
top: -55px;">
          <img src="lib/onsen/images/new/Studio-M-Salon-and-Spa.jpg" style="border-radius: 20%; border-radius: 5%;
width: 100%;
position: relative;
top: -50px; width: 100%">
          </ons-list-item> 

          </div> 

          <ons-list> 
  <ons-list-item modifier="chevron"
    class="menu-items"
    ng-click="">
  &nbsp&nbsp&nbsp Spa Appointments </ons-list-item>

  <ons-list-item modifier="chevron"
    class="menu-items"
    ng-click="">
  &nbsp&nbsp&nbsp Spa Menu </ons-list-item> 

    </ons-list> 
   </ons-page>